@model NotesMarketPlaces.ViewModels.DetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Blank-->
<section class="blank">
</section>
<!--End Blank-->
<section id="details">
    <div class="container">
        <div class="content-box-md">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sub-heading">Notes Details</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12 image">
                            @if (Model.sellernotes.DisplayPicture == null)
                            {
                                <img src="~/DefaultItem/Book-Image.png" alt="book" />
                            }
                            else
                            {
                                <img src="@Url.Content(Model.sellernotes.DisplayPicture)" alt="book">
                            }
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="heading" style="margin-bottom:5px">@Model.sellernotes.Title</div>
                            <div class="sub-heading-2">@Model.sellernotes.NotesCategory.Name</div>
                            <p id="paragraph">@Model.sellernotes.Description</p>
                            <!--If User is logged in or not -->
                            @if (User.Identity.IsAuthenticated)
                            {
                                <!--If Note is Paid and Download user and logged in user same-->
                                if (Model.sellernotes.IsPaid == true && Model.sellernotes.SellerID != Model.UserID)
                                {
                                    <!--if note is not alredy requestsed-->
                                    if (Model.NoteRequested == false)
                                    {
                                        <div id="btn-download">
                                            <a class="btn btn-color" data-toggle="modal" data-target="#confirmation">Download / $@Model.sellernotes.SellingPrice</a>
                                        </div>
                                    }
                                    <!--if logged in user is allowed to download-->
                                    if (Model.AllowDownload == true)
                                    {
                                        <div id="btn-download">
                                            <a class="btn btn-color" href="@Url.Action("DownloadNote","Notes", new { noteid = Model.sellernotes.ID })" title="Download Note" role="button" download>Download / $@Model.sellernotes.SellingPrice </a>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <!--If Note is Free-->
                                    <div id="btn-download">
                                        <a class="btn btn-color" href="@Url.Action("DownloadNote","Notes", new { noteid = Model.sellernotes.ID })" title="Download Note" role="button" download>Download / $@Model.sellernotes.SellingPrice </a>
                                    </div>
                                }
                            }
                            else
                            {
                                <!--If user is not authenticated-->
                                <a class="btn btn-color" href="@Url.Action("Login","Account")" title="Download Note" role="button" data-toggle="modal" data-target="#thankspopup">Download / Free </a>
                            }
                            <!-- Confirmation Modal -->
                            <div class="modal fade" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-confirm-body">
                                            <div>
                                                <p class="confirm-text">
                                                    Are you sure you want to download this Paid note. Please confirm.
                                                </p>

                                                <div class="btn-confirm">
                                                    <a class="btn btn-yes" href="@Url.Action("RequestPaidNotes",new { noteid = Model.sellernotes.ID })" id="confirmationbutton" onclick="$('#confirmation').modal('hide'); $('#thankspopup').modal('show');" role="button">YES</a>
                                                    <a class="btn btn-no" data-dismiss="modal" aria-label="Close" role="button">NO</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="thankspopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="text-center">
                                                <img class="img-responsive" src="~/Image/images/Thanks Popup/true.png" alt="Thanks">
                                                <h2>Thanks for Purchasing</h2>
                                            </div>
                                            <h5>@Model.Buyer,</h5>
                                            <p>As this is paid notes - you need to play to selller @Model.Seller offline.We will send hime an email that you want to download this note.He may contact you further for payment process completion.</p>
                                            <pre>In case,you have urgency.<br>Please contact us on+9195377345959.</pre>
                                            <p>Once he receives the payment and acknoledge us.selected notes you can see over my downloads tab for download.</p>
                                            <p>Have a good day.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="note-details">
                        <p>
                            <span class="first">Institution:</span>
                            @if (@Model.sellernotes.Country == null)
                            {
                                <span class="second"></span>
                            }
                            else
                            {
                                <span class="second">University of @Model.sellernotes.UniversityName</span>
                            }
                        </p>
                        <p>
                            <span class="first">Country:</span>
                            @if (@Model.sellernotes.Country == null)
                            {
                                <span class="second"></span>
                            }
                            else
                            {
                                <span class="second">@Model.sellernotes.Country1.Name</span>
                            }
                        </p>
                        <p>
                            <span class="first">Course Name:</span>
                            @if (@Model.sellernotes.Course == null)
                            {
                                <span class="second"></span>
                            }
                            else
                            {
                                <span class="second">@Model.sellernotes.Course</span>
                            }
                        </p>
                        <p>
                            <span class="first">Course Code:</span>
                            @if (@Model.sellernotes.CourseCode == null)
                            {
                                <span class="second">Course Code</span>
                            }
                            else
                            {
                                <span class="second">@Model.sellernotes.CourseCode</span>
                            }
                        </p>
                        <p>
                            <span class="first">Professor:</span>
                            @if (@Model.sellernotes.CourseCode == null)
                            {
                                <span class="second"></span>
                            }
                            else
                            {
                                <span class="second">@Model.sellernotes.Professor</span>
                            }
                        </p>
                        <p>
                            <span class="first">Number of Pages:</span>
                            @if (@Model.sellernotes.PublishedDate == null)
                            {
                                <span class="second"></span>
                            }
                            else
                            {
                                 <span class="second">@Model.sellernotes.NumberofPages</span>
                            }
                            
                        </p>
                        <p>
                            <span class="first">Approved Date:</span>
                            @if (@Model.sellernotes.PublishedDate == null)
                            {
                                <span class="second"></span>
                            }
                            else
                            {
                                <span class="second">@Model.sellernotes.PublishedDate.Value.ToString("MMMM dd yyyy")</span>
                            }
                        </p>
                        <p>
                            <span class="first">Rating</span>
                            <span class="rating second">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= Model.AverageRating)
                                    {
                                        <img src="~/Image/images/icon/star.png" alt="star">
                                    }
                                    else
                                    {
                                        <img src="~/Image/images/icon/star-white.png" alt="star">
                                    }
                                } @Model.TotalReview Reviews
                            </span>
                        </p>
                        <p>
                            <span class="first1">@Model.TotalSpamReport Users marked this note as inapporopriate</span>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-5 col-md-5" style="background-clip:padding-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sub-heading">Notes Preview</div>
                        </div>
                        <iframe src="@Url.Content(Model.sellernotes.NotesPreview)"></iframe>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 " style="background-clip:padding-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sub-heading">Customers</div>
                        </div>
                    </div>
                    <div class="comment-box">
                        @foreach(var item in Model.NotesReview){
                        <div class="row">
                            <div class="col-lg-2 col-md-2  col-sm-3 col-4 text-center">
                                <img src="@Url.Content(item.TblUserProfile.ProfilePicture)" alt="Profile" class="img-responsive img-rounded img1">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                                <h5>@item.TblUser.FirstName  @item.TblUser.LastName</h5>
                                <br>
                                <span class="rating">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= item.TblSellerNotesReview.Rating)
                                        {
                                            <img src="~/Image/images/icon/star.png">
                                        }
                                        else
                                        {
                                            <img src="~/Image/images/icon/star-white.png">
                                        }
                                    }
                                </span>
                                <p>@item.TblSellerNotesReview.Comments</p>
                            </div>
                        </div>
                        <hr>
                         }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
