@model IEnumerable<NotesMarketPlaces.Models.MyDownloadsViewModel>
@{
    ViewBag.Title = "MyDownloads";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Navigation = "white-navbar";
    ViewBag.Js = "/Scripts/Front/js/script.js";
}

<!--Blank-->
<section class="blank">
</section>
<!--End Blank-->
<!--My Download-->
<section id="my-download">
    <div class="container">
        <div class="content-box-md">
            @using (Html.BeginForm("MyDownloads", "Users", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-5 col-12 heading  my-auto">My Download</div>
                    <div class="col-lg-5 col-md-5 col-sm-7 col-12">
                        <div class="row search" id="table-search">
                            <div class="search-bar col-lg-9 col-md-9 col-sm-9 col-9 form-group">
                                <input type="search" name="mydownloadsearch" value="@ViewBag.mydownload" class="form-control" id="search" placeholder="Search">
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-3 col-3 btn-search">
                                <button class="btn-color" title="Search">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
                <div class="row table-general table-responsive">
                    <div class="col-lg-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Html.ActionLink("Note Title", "MyDownloads", new { sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "NoteTitle" })</th>
                                    <th>@Html.ActionLink("Note Category", "MyDownloads", new { sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "NoteCategory" })</th>
                                    <th>@Html.ActionLink("Buyer", "MyDownloads", new { sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Buyer" })</th>
                                    <th>Sell type</th>
                                    <th>@Html.ActionLink("Note Price", "MyDownloads", new { sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "NotePrice" })</th>
                                    <th>@Html.ActionLink("Download Date/Time", "MyDownloads", new { sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "DowloadDate" })</th>
                                    <th class="content-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model){
                                <tr>
                                    <td>@item.tblDownload.NoteTitle</td>
                                    <td>@item.tblDownload.NoteCategory</td>
                                    <td>@item.tblUser.EmailID</td>
                                    @if (@item.tblDownload.IsPaid)
                                    {
                                        <td>Paid</td>
                                        <td>@item.tblDownload.PurchasedPrice</td>
                                    }
                                    else
                                    {
                                        <td>Free</td>
                                        <td>$0</td>
                                    }
                                </tr>
                                }
                                
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="title">Data Science</td>
                                    <td>Science</td>
                                    <td>testing123@gmail.com</td>
                                    <td>Paid</td>
                                    <td>$250</td>
                                    <td>27 Nov 2020, 11:24:34</td>
                                    <td class="content-center">
                                        <div class="table-images">
                                            <a href="#"><img src="~/Front Image/images/Dashboard/eye.png" alt="view" class="eye"></a>
                                            <div class="btn-group dropleft">
                                                <button type="button" id="dropdownMenu2" class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <img src="~/Front Image/images/icon/dots.png" alt="menu" class="dots">
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    <button class="dropdown-item" type="button">Download Note</button>
                                                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#addreview">Add Review/Feedback</button>
                                                    <button class="dropdown-item" type="button">Report as Inappropriate</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

    </div>
</section>
<!--End My Download-->
<!-- Section Add Review / Feedback -->
<div class="modal fade " id="addreview" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h3 class="heading-md">Add Review</h3>
                </div>
                <div>
                    <form>

                        <!-- Give Rating -->
                        <div class="rate">
                            <img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star.png"><img src="images/icon/star-white.png"><img src="images/icon/star-white.png">
                        </div>
                        <br>
                        <div class="form-group" id="moal-review-feedback">
                            <label for="review">Description *</label>
                            <textarea class="form-control" id="review" placeholder="comments..."></textarea>
                        </div>

                        <div class="btn-submit">
                            <a class="btn btn-color" href="#" title="Submit" role="button">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section Add Review / Feedback END -->
