@model NotesMarketPlaces.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<!--Change Password-->
<section id="changepassword">
    <div id="group">
        <!--Top Logo-->
        <div class="text-center img-responsive img1">
            <img src="~/Image/images/Logo/white-logo.png">
        </div>
        <!--End Top Logo-->
        <!--Change Password Form-->
        <div class="form-box">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <!--Heading-->
                <h2 class="form-heading">Change Password?</h2>
                <p class="form-sub-heading">Enter your new password to change your password</p>
                <!--End Heading-->
        <div class="form-group" id="password">
            @Html.LabelFor(model => model.OldPassword)
            <div>
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", @id = "password-field", placeholder = "Enter your old password", @type = "password" } })
                <span toggle="#password-field" class="field-icon toggle-password" id="icon">
                    <img src="~/Image/images/icon/eye.png">
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="password">
            @Html.LabelFor(model => model.NewPassword)
            <div>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @id = "password-field1", placeholder = "Enter your old password", @type = "password" } })
                <span toggle="#password-field1" class="field-icon toggle-password" id="icon">
                    <img src="~/Image/images/icon/eye.png">
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="password">
            @Html.LabelFor(model => model.ConfirmPassword)
            <div>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @id = "password-field2", placeholder = "Enter your old password", @type = "password" } })
                <span toggle="#password-field2" class="field-icon toggle-password" id="icon">
                    <img src="~/Image/images/icon/eye.png">
                </span>
            </div>
            @Html.ValidationMessageFor(model=>model.ConfirmPassword,"",new { @class="text-danger"})
        </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <!--End Change Password Form-->
            }
        </div>
    </div>
</section>
<!--Change Password-->