@model NotesMarketPlaces.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login Page";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
<!--Login-->
<section id="login">
    <div id="group">
        
            <!--Top Logo-->
            <div class="text-center img-responsive img1">
                <img src="~/Image/images/Logo/white-logo.png">
            </div>
            <!--End Top Logo-->
            <div class="form-box">
                <!--Login Form-->
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <h2 class="form-heading">Login</h2>
                    <p class="form-sub-heading">Enter email address and password for login</p>


                    <div class="form-group" id="email">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "emailtext", @placeholder = "Enter email address" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                   
                    <div class="form-group" id="password">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                        <label id="forgot">@Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")</label>
                        <div>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "password-field", @placeholder = "Enter your password", @type = "password" } })
                            <span toggle="#password-field" class="field-icon toggle-password" id="icon">
                                <img src="~/Image/images/icon/eye.png">
                            </span>
                        </div>
                    </div>


                    if (@ViewBag.result == "Success")
                    {
                        <div class="invalid-text">The Password you have entered wrong.</div>
                    }

                    <div class="form-group form-check" id="checkbox">
                        @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-check-input", @id = "exampleCheck1" })
                        @Html.LabelFor(model => model.RememberMe, new { @class = "form-check-labe" })
                        @Html.ValidationMessageFor(model=>model.RememberMe,"",new { @class="text-danger"})
                    </div>

                    <button type="submit" class="btn btn-primary">Login</button>
                    <br>

                    <p class="form-last-heading">Don't have an account? @Html.ActionLink("Sign Up", "SignUp")</p>

                    <!--End Login Form-->
                }
            </div>
        
    </div>
</section>