@model NotesMarketPlaces.ViewModels.SellYourNotesViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Blank-->
<section class="blank">
</section>
<!--End Blank-->
<!--Dashboard-->
<section id="dashboard">
    <div class="content-box-md">
        <div class="container">
            <div class="row distance">
                <div class="col-lg-6 col-md-6 col-sm-6 col-6 heading my-auto" style="padding-left: 0px">Dashboard</div>
                <div class="col-lg-6 col-md-6  col-sm-6 col-6 text-right">
                    <a class="btn btn-color my-2" style="height:40px " href="@Url.Action("AddNotes","SellYourNotes")" title="Download Note" role="button">Add Notes</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6  col-md-12 col-12" style="background-clip:padding-box">
                    <div class="row ">
                        <div class="dashboard-box dashboard-box-fifth">
                            <div class="col-lg-4 col-md-4 col-4 text-center">
                                <div class="dashboard-box-first">
                                    <div class="dash-item">
                                        <img src="~/Image/images/Dashboard/my-earning.png">
                                        <h3>My Earning</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4 text-center">
                                <h3>@Model.NumberOfSoldNotes</h3>
                                <p><a href="@Url.Action("MySoldNotes","Users")" style="color:black">Number of Notes Sold</a></p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-4 text-center">
                                <h3>$@Model.MoneyEarned</h3>
                                <p>Money Earned</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4 text-center dashboard-box-second" style="background-clip:padding-box">
                    <div class="dashboard-box">
                        <div class="dashboard-item">
                            <h3>@Model.MyDownload</h3>
                            <p><a href="@Url.Action("MyDownloads","Users")" style="color:black">My Download</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4 text-center dashboard-box-three" style="background-clip:padding-box">
                    <div class="dashboard-box">
                        <div class="dashboard-item">
                            <h3>@Model.MyRejectedNotes</h3>
                            <p><a href="@Url.Action("MyRejectedNotes","Users")" style="color:black">My Rejected Notes</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-4 col-4 text-center dashboard-box-fourth" style="background-clip:padding-box">
                    <div class="dashboard-box">
                        <div class="dashboard-item">
                            <h3>@Model.BuyerRequestNotes</h3>
                            <p><a href="@Url.Action("BuyerRequest","BuyerRequest")" style="color:black">Buyer Requests</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Dasboard-->
<!--Progress Notes-->
<section id="progress-notes">
    <div class="container">
        <div class="content-box-sm">
            @using (Html.BeginForm("Index", "SellYourNotes", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-7 col-md-7 col-sm-5 heading  my-auto">Progress Notes</div>
                    <div class="col-lg-5 col-md-5 col-sm-7 col-12">
                        <div class="row search" id="table-search">
                            <div class="search-bar col-lg-9 col-md-9 col-sm-9 col-9 form-group">
                                <input type="search" class="form-control" name="inprogresssearch" value="@ViewBag.InProgress" id="search" placeholder="Search">
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-3 col-3 btn-search">
                                <button class="btn btn-color" type="submit" title="Search" role="button">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="row table-general table-responsive">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.ActionLink("Added Date", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "CreatedDate" })</th>
                                <th>@Html.ActionLink("Title", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Title" })</th>
                                <th>@Html.ActionLink("Category", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Category" })</th>
                                <th>@Html.ActionLink("Status", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Status" })</th>
                                <th class="content-center">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.InProressNotes.Count() == 0)
                            {
                                <tr class="content-center">
                                    <td colspan="5">No Record Found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.InProressNotes)
                                {

                                    <tr>
                                        <td>@item.AddedDate.Value.ToString("dd-MM-yyyy")</td>
                                        <td>@item.Title</td>
                                        <td>@item.Category</td>
                                        <td>@item.Status</td>
                                        <td>
                                            <div class="table-images">
                                                @if (@item.Status == "Draft")
                                                {
                                                    <a href="@Url.Action("EditNotes", "SellYourNotes",new { id=@item.NoteID})"><img src="~/Image/images/Dashboard/edit.png" alt="edit" class="edit"></a>
                                                    <a><img src="~/Image/images/Dashboard/delete.png" alt="delete" class="delete" data-toggle="modal" data-target="#delete-@item.NoteID"></a>
                                                    <!-- Section Confirmation Box -->
                                                    <div class="modal fade " id="delete-@item.NoteID" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-confirm-body">
                                                                    <div>
                                                                        <form>
                                                                            <p class="confirm-text">
                                                                                Are you sure, you want to delete this note?
                                                                            </p>
                                                                            <div class="btn-confirm">
                                                                                <a class="btn btn-yes" href="@Url.Action("DeleteDraft", new { id = item.NoteID })">YES</a>
                                                                                <button class="btn btn-no" data-dismiss="modal" aria-label="Close">NO</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Section Confirmation-Box END -->
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Details", "Notes", new { id = @item.NoteID })"><img src="~/Image/images/Dashboard/eye.png" alt="view" class="eye"></a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.InProressNotes.Count() != 0)
            {
                <div class="row justify-content-center">

                    <nav aria-label="...">
                        <ul class="pagination flex-wrap">

                            <li class="page-item">
                                @if (ViewBag.PageNumber == 1)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = @ViewBag.PageNumberPublished  })"><i class="fa fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber-1, publishpage = @ViewBag.PageNumberPublished })"><i class="fa fa-angle-left"></i></a>
                                }
                            </li>

                            @{
                                double? TotalPagesInProgress = ViewBag.TotalPagesInProgress;

                                if (ViewBag.PageNumber != 1 && ViewBag.PageNumber - 2 > 1)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumber) - 3;
                                    <li class="page-item">@Html.ActionLink("1", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = 1, publishpage = @ViewBag.PageNumberPublished }, new { @class = "page-link" })</li>
                                    if (page != 1)
                                    {
                                        <li class="page-item more-pages-dots">@Html.ActionLink("...", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = page, publishpage = @ViewBag.PageNumberPublished }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                }

                                for (int i = 2; i > 0; i--)
                                {
                                    if (ViewBag.PageNumber - i > 0)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumber) - i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = page, publishpage = @ViewBag.PageNumberPublished }, new { @class = "page-link" })</li>
                                    }
                                }

                                <li class="page-item active">
                                    <a class="page-link">@ViewBag.PageNumber<span class="sr-only">(current)</span></a>
                                </li>

                                for (int i = 1; i < 3; i++)
                                {
                                    if (ViewBag.PageNumber + i <= TotalPagesInProgress)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumber) + i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = page, publishpage = @ViewBag.PageNumberPublished }, new { @class = "page-link" })</li>
                                    }
                                }

                                if (ViewBag.PageNumber != TotalPagesInProgress && ViewBag.PageNumber + 2 < TotalPagesInProgress)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumber) + 3;
                                    if (page != TotalPagesInProgress)
                                    {
                                        <li class="page-item">@Html.ActionLink("...", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = page, publishpage = @ViewBag.PageNumberPublished }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                    <li class="page-item">@Html.ActionLink(TotalPagesInProgress.ToString(), "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = TotalPagesInProgress, publishpage = @ViewBag.PageNumberPublished }, new { @class = "page-link" })</li>
                                }

                            }

                            <li class="page-item">
                                @if (ViewBag.PageNumber == TotalPagesInProgress)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = @ViewBag.PageNumberPublished  })"><i class="fa fa-angle-right"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber+1, publishpage = @ViewBag.PageNumberPublished  })"><i class="fa fa-angle-right"></i></a>
                                }
                            </li>

                        </ul>
                    </nav>

                </div>
            }

            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-5 heading  my-auto">Published Notes</div>
                <div class="col-lg-5 col-md-5 col-sm-7 col-12">
                    @using (Html.BeginForm("Index", "SellYourNotes", FormMethod.Get))
                    {
                        <div class="row search" id="table-search">
                            <div class="search-bar col-lg-9 col-md-9 col-sm-9 col-9 form-group">
                                <input type="search" class="form-control" id="search" name="publishsearch" value="@ViewBag.Published" placeholder="Search">
                            </div>
                            <div class="col-lg-3  col-md-3 col-sm-3 col-3 btn-search">
                                <button class="btn btn-color" title="Search" role="button">Search</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="row table-general table-responsive">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Html.ActionLink("Added Date", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "PublishedDate" })</th>
                                <th>@Html.ActionLink("Title", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Title" })</th>
                                <th>@Html.ActionLink("Category", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Category" })</th>
                                <th>@Html.ActionLink("Sell Type", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "SellType" })</th>
                                <th>@Html.ActionLink("Price", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = ViewBag.SortOrder == null ? "Asc" : (ViewBag.SortOrder == "Asc" ? "Desc" : "Asc"), sortby = "Price" })</th>
                                <th class="content-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PublishedNotes.Count() == 0)
                            {
                                <tr class="content-center">
                                    <td colspan="6">No Record Found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var item in Model.PublishedNotes)
                                {
                                    <tr>
                                        <td>@item.PublishedDate.Value.ToString("dd-MM-yyyy")</td>
                                        <td>@item.Title</td>
                                        <td>@item.Category</td>
                                        @if (@item.SellType == "Paid")
                                        {
                                            <td> Paid</td>
                                            <td>$@item.Price</td>
                                        }
                                        else
                                        {
                                            <td>Free</td>
                                            <td>$0</td>
                                        }

                                        <td>
                                            <div class="table-images">
                                                <a href="@Url.Action("Details","Notes", new { id = @item.NoteID })"><img src="~/Image/images/Dashboard/eye.png" alt="view" class="eye"></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (Model.PublishedNotes.Count() != 0)
            {
                <div class="row justify-content-center">

                    <nav aria-label="...">
                        <ul class="pagination flex-wrap">

                            <li class="page-item">
                                @if (ViewBag.PageNumberPublished == 1)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = @ViewBag.PageNumberPublished  })"><i class="fa fa-angle-left"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = @ViewBag.PageNumberPublished-1 })"><i class="fa fa-angle-left"></i></a>
                                }
                            </li>

                            @{
                                double? TotalPagesPublish = ViewBag.TotalPagesPublish;

                                if (ViewBag.PageNumberPublished != 1 && ViewBag.PageNumberPublished - 2 > 1)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumberPublished) - 3;
                                    <li class="page-item">@Html.ActionLink("1", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = 1 }, new { @class = "page-link" })</li>
                                    if (page != 1)
                                    {
                                        <li class="page-item more-pages-dots">@Html.ActionLink("...", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage =page }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                }

                                for (int i = 2; i > 0; i--)
                                {
                                    if (ViewBag.PageNumberPublished - i > 0)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumberPublished) - i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = page }, new { @class = "page-link" })</li>
                                    }
                                }

                                <li class="page-item active">
                                    <a class="page-link">@ViewBag.PageNumberPublished<span class="sr-only">(current)</span></a>
                                </li>

                                for (int i = 1; i < 3; i++)
                                {
                                    if (ViewBag.PageNumberPublished + i <= TotalPagesPublish)
                                    {
                                        int page = Convert.ToInt32(@ViewBag.PageNumberPublished) + i;
                                        <li class="page-item">@Html.ActionLink(page.ToString(), "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = page }, new { @class = "page-link" })</li>
                                    }
                                }

                                if (ViewBag.PageNumberPublished != TotalPagesPublish && ViewBag.PageNumberPublished + 2 < TotalPagesPublish)
                                {
                                    int page = Convert.ToInt32(@ViewBag.PageNumberPublished) + 3;
                                    if (page != TotalPagesPublish)
                                    {
                                        <li class="page-item">@Html.ActionLink("...", "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = page }, new { @class = "page-link more-pages-dots" })</li>
                                    }
                                    <li class="page-item">@Html.ActionLink(TotalPagesPublish.ToString(), "Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = TotalPagesPublish}, new { @class = "page-link" })</li>
                                }

                            }

                            <li class="page-item">
                                @if (ViewBag.PageNumberPublished == TotalPagesPublish)
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = @ViewBag.PageNumberPublished  })"><i class="fa fa-angle-right"></i></a>
                                }
                                else
                                {
                                    <a class="page-link" href="@Url.Action("Index", new { inprogresssearch = @ViewBag.InProgress, publishsearch = @ViewBag.Published, sortorder = @ViewBag.SortOrder, sortby = @ViewBag.SortBy, sortorderpublish = @ViewBag.SortOrderForPublishedNotes, sortbypublish = @ViewBag.SortByForPublishedNotes, inprogresspage = @ViewBag.PageNumber, publishpage = @ViewBag.PageNumberPublished +1 })"><i class="fa fa-angle-right"></i></a>
                                }
                            </li>

                        </ul>
                    </nav>

                </div>
            }
        </div>
     </div>
</section>
<!--End Progress Notes-->
