@model NotesMarketPlaces.ViewModels.AddCountryViewModel
@{
    ViewBag.Title = "Add Country";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--Blank-->
<section class="blank"></section>
<!--End Blank-->
<!--Add Country-->
<section id="add-country">
    <div class="container">
        <div class="content-box-md">
            <div class="row">
                <div class="col-lg-12  col-md-12 col-12 heading">Add Country</div>
            </div>
            @using (Html.BeginForm("AddCountry", "AdminSettings", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="form-group col-lg-6 col-md-8 col-sm-9 col-12">
                        <label for="fname">Country Name*</label>
                        @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control", @id = "cname", placeholder = "Enter your country name" } })
                        @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                        
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-6 col-md-8 col-sm-9 col-12">
                        <label for="description">Contry Code*</label>
                        @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @id = "code", placeholder = "Enter your country code" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-lg-1 col-md-2 col-sm-3 col-3">
                        <button class="btn btn-color" title="submit" role="button" type="submit">Submit</button>
                    </div>
                </div>
            }
            </div>
    </div>
</section>
<!--End Add Country-->
